html, body{
background-image: url('https://images.squarespace-cdn.com/content/v1/5cd39bda38e67e0001551d29/1557375217221-GVXBMLO4ZK5K9FZ3T2OV/ke17ZwdGBToddI8pDm48kC0hV16SKsYPu0hlAiCz8woUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKc3BhJ7SDJNyD_NMmYWNjtWztpCoG_pUc5omYlkcBwuTtcJz3DCYgY6FWKTx-VmXrm/WebsiteCoverImage.jpg?format=1500w');
background-size: cover;
background-repeat:repeat-y;
/* background-repeat:no-repeat; */
height: 100%;
}

.container{
height: 100%;
align-content: center;
}

.table-responsive{
    width: fill-available !important;
    align-content: center;
    margin: 1rem;
}

h1, h2, p{
    color:white;
    align-content: center;
    margin: 1rem;
}
.card, p, ul, ol{
    margin: 2rem;
}

.card{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: fit-content;
background-color: rgba(0,0,0,0.5) !important;
color:white;
align-content: center;
justify-content: center;
}

.btn {
    margin: 5px;
}

.input-group{
    margin: 5px;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.links a{
margin-left: 4px;
}

